<!DOCTYPE html>
<head>
<title>GoFish game</title>
<link rel=stylesheet type='text/css' href='/static/css/style.css' />
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<script type="text/javascript" src='/static/js/mithril.min.js'></script>

</head>

<body>
    <section>
        <nav id="nav"></nav>
        <article id="page"></article>
    </section>
    <div id="loading"></div>
    <script type="text/javascript" src='/static/js/app.js'></script>
</body>
