<!DOCTYPE html>
<html>
<head>
    <title>Endgame data explorer</title>
    <style type='text/css'>
* {
    font-family: monospace;
    line-height: 1.5em;
}
section {
    font-size: 1.5em;
}
a:visited {
    color: blue;
}
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <!-- Our js libraries -->
    <script type="text/javascript" src="/static/js/graphs.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript">
function getSelected(selector) {
    return $(selector).find(':selected').val();
}

function getGroups(selector) {
    groups = [];
    $(selector).find('input[type=checkbox]').each(function() {
        if ($(this).is(':checked')) groups.push($(this).attr('value'));
    });
    return groups;
}

function drawTheBarChart() {
    groups = getGroups('#barX');
    if (groups.length > 0) {
        return drawEndData({
            x: groups.join(),
            y: getSelected('#barY'),
        });
    }
}

function drawTheBoxChart() {
    groups = getGroups('#boxX');
    if (groups.length > 0) {
        return drawEndBoxData({
            x: groups.join(),
            y: getSelected('#boxY'),
        });
    }
}
    </script>
    
</head>
<body>
    <header><h1>Endgame data explorer</h1></header>
    
    <section>
        <h2>Select the data to show (bar chart):</h2>
        <p>
            <label for="barY">Show data for</label>
            <select id="barY">
                {% for key, val in choices.choices.items %}
                    <option value="{{key}}">{{val}}</option>
                {% endfor %}
            </select>
            <p>Group by:</p>
            <div id="barX">
                {% for key, val in choices.groups.items %}
                    <input type="checkbox" value="{{key}}" id="{{key}}" />
                    <label for="{{key}}">{{val}}</label>
                {% endfor %}
            </div>
        </p>
        <p>
            <button onclick="drawTheBarChart()">Draw Chart</button>
        </p>
        <div id="chart-div"></div>
    </section>

    <section>
        <h2>Select the data to show (box plot):</h2>
        <p>
            <label for="boxY">Show data for</label>
            <select id="boxY">
                {% for key, val in choices.choices.items %}
                    <option value="{{key}}">{{val}}</option>
                {% endfor %}
            </select>
            <p>Group by:</p>
            <div id="boxX">
                {% for key, val in choices.groups.items %}
                    <input type="checkbox" value="{{key}}" id="{{key}}2" />
                    <label for="{{key}}2">{{val}}</label>
                {% endfor %}
            </div>
        </p>
        <p>
            <button onclick="drawTheBoxChart()">Draw Chart</button>
        </p>
        <div id="chart-div2"></div>
    </section>
</body>
</html>
