<!DOCTYPE html>
<html>
<head>
    <title>Chart generating/exploring panel</title>
    <style type='text/css'>
* {
    font-family: monospace;
    line-height: 1.5em;
}
section {
    font-size: 1.5em;
}
a:visited {
    color: blue;
}
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
</head>
<body>
    <header><h1>Chart generating/exploring panel</h1></header>
    
    <section>
        <p><a href="print_logs">Print the spot_log</a></p>
        <p><a href="print_end_logs">Print the_endgame log</a></p>
        <!--p><a href="parse_log">Parse decision log! (consumes it)</a></p>
        <p><a href="parse_end_log">Parse endgame log! (consumes it)</a></p>
        <p><a href="data_by_user">View data for individual users</a></p>
        <p><a href="data_aggregated">View data aggregated</a></p>
        <p><a href="data_endgame">View endgame data</a></p>
        <p>A wee bit out of place:</p>
        <p><a href="optimise">Optimise the Game</a></p-->
    </section>
</body>
</html>
