<!DOCTYPE html>
<html>
<head>
    <title>Optimising the game</title>
    <style type='text/css'>
* {
    font-family: monospace;
    line-height: 1.5em;
}
section {
    font-size: 1.5em;
}
a:visited {
    color: blue;
}
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
</head>
<body>
    <header><h1>System thinks that the optimal bundle is:</h1></header>
    
    <section>
        <pre>
solution: {{solution}}
diff:     {{maxDiff}}
stats:    {{stats}}
        </pre>
    </section>
</body>
</html>
